{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "globals": {
        "window": true,
        "document": true,
        "require": true,
        "console": true
    },
    "rules": {
        "no-console": "warn"
    }
}